article.aux
article.bbl
article.bcf
article.blg
article.fdb_latexmk
article.fls
article.log
article.synctex.gz
article.run.xml
example.tex
notes.txt
Readings/An Overview of IoT Sensor Data Processing, Fusion, and Analysis Techniques.pdf
Readings/MQTT_Topics_and_JSON_Data_Format.pdf
Readings/NoSQL database systems a survey and decision guidance.pdf
Readings/Time_synchronization_in_sensor_networks_a_survey.pdf
Readings/Using_JSON_to_manage_communication_between_services_in_the_Internet_of_Things.pdf
Readings/L10 Data 3 Data storage and stream processing.pdf
Readings/L8 Data 1 Data collection and processing.pdf
Readings/L9 Data 2 Data formats.pdf
